
body
{
background-image:url(../images/baack1.png);
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
} 
hr {
	border-top:1px dashed #C1C1B8;
}
.shadow:after {
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
}

/*-------------------------------------------------------*/
	/* Header */
/*-------------------------------------------------------*/

header h1 {
	color: #fff;
	
}
header h1 span {
	color: #d94d4a;
	
}
header h1:hover {
	color: #d94d4a;
}
header .titles {
	color: #fff;
}
header h2 {
	background-color:  #d94d4a;
}
header h3 {
	background-color: #648293;
}
header h2:before {
	border-color: transparent #802724 transparent transparent;
}
header h3:before {
	border-color: transparent #4a6676 transparent transparent;
}

/*-------------------------------------------------------*/
	/* Nav */
/*-------------------------------------------------------*/

nav ul {
	background-color: #ffffff;
	border: 7px solid #e3e3da;
}
nav ul li a {
	color: #648293;
	background-position: 100px center;
}
nav ul li a span {
	color: #D94D4A;
}
nav ul li a.active span {
	opacity:.7;
	color: #fff;
}
nav ul li a:hover.active span {
	color: #fff;
}
nav ul li a.active {
	color: #fff;
	background: #D94D4A url('../images/arrow.png') no-repeat 175px center;
}
nav ul li a:hover.active {
	color: #fff;
	background-color: #D94D4A;
	background-position: 180px center;
}
nav ul li a:hover {
	color: #648293;
	background-color: #f1f1eb;
}
nav ul li a:hover span {
	color: #D94D4A;
}

/*-------------------------------------------------------*/
	/* Profile */
/*-------------------------------------------------------*/

#profile .maindata {
	background: #fff url('../images/bg-paper.png') repeat-y right top;
}
#profile .maindata .item .firsto:before {
	border-color: transparent #4a6676 transparent transparent;
}
#profile .quote:before {
	border-color: transparent #802724 transparent transparent;
}
#profile .maindata .item .firsto span {
	background-color: #648293;
	color: #fff;
}
#profile .quote {
	background: #F9F9F2 url('../images/detailbott.png') repeat-x left bottom;
}
#profile .quote h3 {
	background-color: #D94D4A;
	color: #FFFFFF;
}
#profile .quote h3:before {
	opacity:.5;
}
#profile .quote h4 {
	color: #D94D4A;
}
 #profile ul.linkdata li:nth-child(2n+1) {
 background:#648293;
}
#profile ul.linkdata li:nth-child(2n+2) {
 background:#4A6676;
}
#profile ul.linkdata li a i {
	background: rgba(255, 255, 255, 0.1);
}
.no-touch #profile ul.linkdata li a:hover i, .no-touch #profile ul.linkdata li a:active i, .no-touch #profile ul.linkdata li a:focus i {
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
}
.no-touch #profile ul.linkdata:hover a {
	color:rgba(255, 255, 255, 0.4);
}
.no-touch #profile ul.linkdata:hover a:hover {
	color:rgba(255, 255, 255, 1);
}
#profile ul.linkdata li a {
	color:rgba(255, 255, 255, 1);
}
#profile ul.linkdata li a:hover {
	background-color: #D94D4A;
}
#profile ul.linkdata li a span {
	color: #675B58;
}
#profile ul.social li.vimeo a {
	background-image: url("../images/vimeo-light.gif");
}
#profile ul.social li.facebook a {
	background-image: url("../images/facebook-light.gif");
}
#profile ul.social li.linkedin a {
	background-image: url("../images/linkedin-light.gif");
}
#profile ul.social li.twitter a {
	background-image: url("../images/twitter-light.gif");
}
#profile ul.social li.pinterest a {
	background-image: url("../images/pinterest-light.gif");
}

/*-------------------------------------------------------*/
	/* Resume */
/*-------------------------------------------------------*/

#resume ul.box-years li a {
	color: #B3B2AD;
}
#resume ul.box-years li a.current {
	background-color: #D94D4A;
}
#resume ul.box-years li a.current, #resume ul.box-years li a.current:hover {
	color: #fff;
}
#resume ul.box-years li a:hover {
	color: #675B58;
}
#resume .box-txt-years {
	background: #F9F9F2 url("../images/detailbott.png") repeat-x left bottom;
}
#resume ul.box-years li a.current:after {
	color: #D94D4A;
}
#resume .yearsize h4 {
	color: #648293;
	text-shadow:none;
}
#resume .yearsize h5 {
	color: #d94d4a;
}
#resume .yearsize a {
	border-bottom: 1px dotted #D94D4A;
	color: #648293;
}
#resume .yearsize a:hover {
	color: #D94D4A;
}
#resume .note span {
	background-color: #648293;
	color: #FFFFFF;
}
#resume .skill h2, #resume .certificate h2 {
	color: #fff;
	background-color: #4A6676;
}
#resume .skill .item-skill.shadow:after {
	box-shadow: 0 11px 8px rgba(0, 0, 0, 0.6);
}
#resume .skill .item-skill h3 {
	background-color: #F9F9F2;
}
.my-progress-bar {
	background: none repeat scroll 0 0 #F9F9F2;
}
.my-progress-bar div {
	background: none repeat scroll 0 0 #D94D4A;
}
#resume h2 i {
	color: #96B5C5;
}
#resume .skill h2:after, #resume .certificate h2:after {
	box-shadow: 
 inset 0 1px 0 rgba(0, 0, 0, 0.1),  inset 0 -1px 0 rgba(255, 255, 255, 0.7);
}
#resume .certificate ul li {
	color: #675B58;
}
#resume .certificate ul li strong {
	color: #D94D4A;
}
#resume .certificate ul li {
	border-bottom: 1px dashed #C1C1B8;
}
#resume .certificate ul li:last-child {
	border-bottom: none;
}

/*-------------------------------------------------------*/
	/* Portfolio */
/*-------------------------------------------------------*/

#portfolio {
	background-color: #E3E3DA;
}
#portfolio .box {
	background: #F9F9F2;
}
#portfolio .box.featured {
	background: #d94d4a;
	color: #fff;
}
#portfolio .box.featured.icon a i {
	color: #fff;
}
#portfolio .box.icon a i {
	color: #D94D4A;
}
#portfolio .box.quote i {
	color: #E3E3DA;
}
#portfolio .box.quote span.sign {
	color: #d94d4a;
}
#portfolio .box h3 {
	color: #d94d4a;
}
#portfolio .box a {
	color: #d94d4a;
}
#portfolio .box a:hover {
	color: #648293;
}
#portfolio .box.featured a:hover {
	color: #fff;
}
#portfolio .box.featured a {
	color: #E3E3DA;
}
#portfolio .box.featured h3 {
	color: #fff;
}
#portfolio .box a.link {
	border-bottom: 1px dotted #648293;
	color: #648293;
}
#portfolio .box.featured a.link {
	border-bottom: 1px dotted #E3E3DA;
	color: #E3E3DA;
}

/*-------------------------------------------------------*/
	/* Contact */
/*-------------------------------------------------------*/

#contact #map {
	border: 10px solid #fff;
	color: #4B5562;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
#contact #map h3 {
	color: #d94d4a;
	text-shadow: none;
}
#contact .send:before {
	border-color: transparent #802724 transparent transparent;
}
#contact .send {
	background: #F9F9F2 url('../images/detailbott.png') repeat-x left bottom;
}
#contact .send h3 {
	background-color: #D94D4A;
}
#contact .send h3 a {
	color: #FFFFFF;
	opacity:.7;
}
#contact h3 a:hover, #contact h3 a.active {
	color: #fff;
	opacity:1;
}
input, textarea {
	background: #E3E3DA;
	color: #999290;
}
#contactForm *:focus {
	background-color: #fff;
	color: #4A6676;
}
input:valid, textarea:valid {
 background: #fff;
}
input[type="submit"], input[type="button"] {
	background: none repeat scroll 0 0 #d94d4a;
	color: #FFFFFF;
}
input[type="submit"]:hover, input[type="submit"]:active, input[type="button"]:hover, input[type="button"]:active {
	color: #fff;
	background: #648293;
}
input[type="submit"]:active, input[type="button"]:active {
	color: #585858;
	background: #fff;
}
input[type="button"] {
	background: #f33;
}
.statusMessage {
	color: #585858;
}
.statusMessage p i {
	color: #d94d4a;
}

/*-------------------------------------------------------*/
	/* Footer */
/*-------------------------------------------------------*/

footer {
	background: transparent url('../images/line-light.gif') repeat-x left top;
}
footer .container {
	background: transparent url('../images/bg-sh-bott-light.png') no-repeat center top;
} 
.bx-wrapper .bx-prev {
	background: url(../images/controls-light.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	background: url(../images/controls-light.png) no-repeat -43px -32px;
}

